html {
    font-family: 'Lora', serif;
}

body {
    box-sizing: border-box;
    background-color: #e6e6e6;
    margin: 50px;
    font-size: 14px;
    line-height: 23px;
}

h1 {
    font-style: italic;
    text-align: center;
    font-size: 3rem;
}

