div {
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #c3c3c3a4;
    padding: 20px;
    height: 400px;
    width: 30%;
    
}

input, select {
    width: 100%;
    height: 30px;
}

button {
    margin-top: 40px;
    width: 100%;
    background-color: #46c846;
    height: 40px;
    
}