div {
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #c3c3c385;
    padding: 20px;
    height: 400px;
    width: 30%;
    
}

input, select {
    width: 100%;
    height: 30px;
}

button {
    margin-top: 40px;
    width: 100%;
    background-color: #29dd6e;
    height: 40px;
   
    
}

ul {
    padding: 20px 105px;
    font-size: 20px;
    max-width:100%;
    color: #f0f0f0;
    box-sizing: border-box;
   
}