body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.azul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100px;
    height: 100px;
    animation: brasil;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

.amarelo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 200px;
    height: 200px;
    animation: brasil;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.verde {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:green;
    width: 300px;
    height: 300px;
    animation: brasil;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/* div {
  border-radius: 50%;
  background: red;
  height: 10vmin;
  width: 10vmin;
  animation-name: pinga;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  position: relative;
} */

@keyframes brasil {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }

  25% {
    transform: rotate(45deg);
    animation-timing-function: linear;
  }

  50% {
    background-color:rgb(12, 12, 14);
    transform: rotate(90deg);
    animation-timing-function: linear;
    border-radius: 50%;
  }

  75% {
    transform: rotate(45deg);
    animation-timing-function: linear;
  }

  100% {
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }
}
