body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ball {
  border-radius: 50%;
  background: red;
  height: 10vmin;
  width: 10vmin;
  animation-name: pinga;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  position: relative;
}

@keyframes pinga {
  0% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }

  25% {
    transform: translateY(150px);
    animation-timing-function: linear;
  }

  50% {
    /* background-color:blue; */
    transform: translateY(300px);
    animation-timing-function: linear;
  }

  75% {
    transform: translateY(150px);
    animation-timing-function: linear;
  }

  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}
