body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ball {
  border-radius: 50%;
  background: red;
  height: 10vmin;
  width: 10vmin;
  animation-name: pinga;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  position: relative;
}

@keyframes pinga {
  0% {
    transform: translateY(0px) scale(1);
    animation-timing-function: ease-in;
  }

  25% {
    transform: translateY(150px) scale(2);
    animation-timing-function: linear;
  }

  50% {
    background-color:rgb(12, 12, 14);
    transform: translateY(300px) scale(3) ;
    animation-timing-function: linear;
  }

  75% {
    transform: translateY(150px) scale(2);
    animation-timing-function: linear;
  }

  100% {
    transform: translateY(0px) scale(1);
    animation-timing-function: ease-in;
  }
}
