* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

/* carrinho */

#linkCar {
  color:#4fa375;
}

.divShop {
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: flex-end;
  justify-content: center;
  max-width: 90%;
  margin-bottom: 2rem;
}

.divShop span {
  font-size: 0.8rem;
}

#shopsCar {
  margin-right: 1.5rem;
}

/* main */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  width: 20rem;
  height: 38rem;
}

.divImg {
  max-width: 320px;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
}

img {
  height: auto;
  max-height: 250;
  max-width: 100%;
}

.financialAspects {
  margin-top: 0.5rem;
  color: #9c9c9c;
  line-height: 1.3rem;
}

.financialAspects span:first-child {
  font-size: 1.5rem;
}

.backClick,
.forwardClick {
  font-size: 2rem;
  color: yellow;
  position: absolute;
  cursor: pointer;
}

.backClick {
  top: 180px;
  left: 0px;
}

.forwardClick {
  top: 180px;
  right: 0px;
}

.buyButton {
  height: 3rem;
  width: 9rem;
  margin-top: 0.5rem;
  border: none;
  background-color: #03a74d;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #00fb71;
  color: #000;
}


.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container2 a {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 4rem;
  cursor: pointer;
  color: #ec3c3c;
}

table {
  width:80%;
  margin-top: 3rem;
  padding: 1rem;

}

thead, th{
 border-bottom: 1px solid #bebebe8a;
  /* border-collapse: collapse; */
}

.tableTitles{
  padding-bottom: 1rem;
  margin: 5rem;
  font-size: 1.3rem
}

td {
  padding: .5rem;
}