* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #fff;
  text-align: center;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#shopsCar {
  display: flex; 
  align-items: flex-end;
  padding: 2rem;

}

h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  width: 20rem;
  height: 45rem;
}

.divImg {
  max-width: 320px;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  
}

img {
  height: auto;
  max-width: 100%;
}

.financialAspects {
  margin-top: .5rem;
  color: #9c9c9c;
  line-height: 1.3rem;
}

.financialAspects span:first-child {
  font-size: 1.5rem;
}

.backClick, .forwardClick {
  font-size: 2rem;
  color: yellow;
  position: absolute;
  cursor: pointer;
}

.backClick{
    top: 180px;
    left: 0px;
}

.forwardClick {
    top: 180px;
    right: 0px;
}

.buyButton {
  height: 3rem;
  width: 9rem;
  margin-top: .5rem;
  border: none;
  background-color: #03a74d;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #00fb71;
  color: #000;
}