

h1 {
    text-align: center;
    font-size: 3rem;
}


.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 20px;
    margin-bottom: 100px;
    border: 1px solid rgb(143, 143, 143);
    box-shadow: 2px 2px 2px black;
    
}

img {

    max-width: 100%;
    min-height: 200px;
}

h3 {
    padding: 10px;
    text-align: center;
}

p {
    padding: 10px;

}

button {
   align-self: center;
   border: none;
   background-color: rgb(123, 214, 123);
   height: 40px;
   border-radius: 5px;
   color: white;
}