@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@400;700&display=swap');

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}


.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Lora', serif;
}

.card {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 20px;
    margin-bottom: 100px;
    border: 1px solid #8f8f8f;
    box-shadow: 2px 2px 2px black;
    border-radius:5px;
    
}

.imageDiv {
    height: 200px;
}

img {

    max-width: 100%;
    height: 200px;
}

h3 {
    padding: 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

p {
    padding: 10px;
    height: 250px;
    margin-bottom: 0;
    display: flex;
    text-align: center;
    line-height: 24px;

}

button {
   align-self: center;
   border: none;
   background-color: #258625;
   height: 40px;
   width: 200px;
   border-radius: 5px;
   color: white;
   margin-bottom: 40px;
   cursor: pointer;
   transition: 0.5s;
}

button:hover {
    background-color: #4dc84d;
}